<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}">
    <title>FlashG | Sign Up</title>
</head>
<body class="px-10 py-10 flex flex-col h-full">
    <header class="flex justify-between relative">
        <h1 class="text-5xl font-bold">FlashG</h1>

        <a th:href="@{/auth/signin}" class="w-[212px] h-[56px] flex justify-center items-center bg-gray-700 text-white text-xl rounded hover:bg-gray-800 transition-colors" role="button">Fazer Login</a>
    </header>

    <main class="mt-10 flex gap-5 justify-center">
        <div class="flex flex-col justify-between max-w-[780px]">
            <h2 class="text-3xl font-semibold">
                Participe da rede social que conecta fotógrafos, inspira criatividade e compartilha histórias visuais.
            </h2>

            <ul class="my-4">
                <li class="flex items-center gap-1">
                    <img th:src="@{/assets/icons/award.svg}" alt="Award icon" class="w-[16px] h-[16px]">
                    <span>Conecte-se com fotógrafos de todo o mundo e amplie sua rede.</span>
                </li>

                <li class="flex items-center gap-1">
                    <img th:src="@{/assets/icons/award.svg}" alt="Award icon" class="w-[16px] h-[16px]">
                    <span>Exiba seu portfólio em uma galeria moderna e personalizada.</span>
                </li>

                <li class="flex items-center gap-1">
                    <img th:src="@{/assets/icons/award.svg}" alt="Award icon" class="w-[16px] h-[16px]">
                    <span>Descubra oportunidades para colaborações e novos projetos.</span>
                </li>
            </ul>

            <div class="bg-red-300 text-red-600 w-full p-4 rounded" role="alert" th:if="${error}" th:text="${error}"></div>

            <form th:action="@{/auth/register}" th:object="${photographer}" method="post" class="flex flex-col gap-5">
                <div>
                    <label for="firstName" class="text-lg block mb-2 font-medium text-zinc-950">Nome:</label>
                    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" placeholder="Insira seu nome..." class="border border-gray-300 text-zinc-950 text-sm rounded-lg focus:outline-gray-800 block w-full p-2.5 transition-all">
                    <p class="text-red-600 text-md" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                </div>

                <div>
                    <label for="lastName" class="text-lg block mb-2 font-medium text-zinc-950">Sobrenome:</label>
                    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" placeholder="Insira seu sobrenome..." class="border border-gray-300 text-zinc-950 text-sm rounded-lg focus:outline-gray-800 block w-full p-2.5 transition-all">
                    <p class="text-red-600 text-md" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                </div>
                <div>
                    <label for="username" class="text-lg block mb-2 font-medium text-zinc-950">Username:</label>
                    <input type="text" id="username" name="username" th:field="*{username}" placeholder="Insira seu username..." class="border border-gray-300 text-zinc-950 text-sm rounded-lg focus:outline-gray-800 block w-full p-2.5 transition-all">
                    <p class="text-red-600 text-md" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
                <div>
                    <label for="email" class="text-lg block mb-2 font-medium text-zinc-950">Email:</label>
                    <input type="email" id="email" name="email" th:field="*{email}" placeholder="exemplo@exemplo.com" class="border border-gray-300 text-zinc-950 text-sm rounded-lg focus:outline-gray-800 block w-full p-2.5 transition-all">
                    <p class="text-red-600 text-md" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>

                <div>
                    <label for="password" class="text-lg block mb-2 font-medium text-zinc-950">Senha:</label>
                    <input type="password" id="password" name="password" th:field="*{password}" placeholder="Senha forte com no mínimo 8 dígitos" class="border border-gray-300 text-zinc-950 text-sm rounded-lg focus:outline-gray-800 block w-full p-2.5 transition-all">
                    <p class="text-red-600 text-md" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>

                <button class="flex justify-center items-center bg-gray-700 w-full py-3 text-white text-xl rounded hover:bg-gray-800 transition-colors mt-2">
                    Cadastrar-se
                </button>
            </form>
        </div>

        <img th:src="@{/assets/Photographer.jpg}" alt="Imagem de uma fotógrafa" class="rounded-lg min-w-[580px] h-[780px] object-cover">
    </main>
</body>
</html>