<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout">
<head layout:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title="Base Layout">FlashG</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/js/lib.js}" defer></script>
    <script th:src="@{/js/preview.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="flex-col min-h-screen items-center justify-center">
    <div class="flex min-h-screen">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div class="w-full flex flex-col p-6">
            <div class="mt-4 flex-1" layout:fragment="content">
                <!--/* Aqui o conteúdo será injetado */-->
            </div>
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</body>
</html>
