<!DOCTYPE html>
<html lang="pt_BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head layout:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title="Base Layout">FlashG</title>

    <script src="https://cdn.tailwindcss.com" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="https://unpkg.com/@material-tailwind/html@2.3.2/scripts/dialog.js" defer></script>

<!--    <script th:src="@{/libs/dialog.js}" defer></script>-->
<!--    <script th:src="@{/libs/tailwindcss-4.0.8.global.js}" defer></script>-->
<!--    <script th:src="@{/libs/jquery-3.7.1.min.js}" defer></script>-->


    <script th:src="@{/js/commentProcess.js}" defer></script>
    <script th:src="@{/js/LikeProcess.js}" defer></script>


    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="flex-col min-h-screen items-center justify-center">
    <div class="flex min-h-screen">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div class="w-full flex flex-col ">
            <div class="flex-1" layout:fragment="content">
                <!--/* Aqui o conteúdo será injetado */-->
            </div>
        </div>
    </div>
</body>
</html>
