<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head layout:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title="Base Layout">FlashG</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/lib.js}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/dialog.js" defer></script>
    <script th:src="@{/js/preview.js}" defer></script>

</head>
<body class="flex-col min-h-screen items-center justify-center">
    <!-- Cabeçalho -->
<!--    <div th:replace="fragments/header :: header"></div>-->
    <div class="flex min-h-screen">
        <!-- Barra lateral -->
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>

        <!-- Conteúdo principal -->
        <div class="w-full flex flex-col p-6">
            <div class="mt-4 flex-1" layout:fragment="content">
                <!-- Aqui o conteúdo será injetado -->
            </div>
            <!-- Rodapé -->
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
    <!-- from node_modules -->
<!--    <script src="node_modules/@material-tailwind/html@latest/scripts/dialog.js"></script>-->

    <!-- from cdn -->

</body>
</html>
