<!DOCTYPE html>
<html lang="pt_BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <title>FlashG</title>
</head>
<body>
<div layout:fragment="content">
    <div class="overflow-auto max-w-full max-h-screen">
        <div class="flex justify-center items-center">
            <div class="w-3/4">
                <!-- Card para edição do perfil -->
                <div class="shadow-lg border border-gray-300 rounded-lg">
                    <div class="bg-gray-800 text-white rounded-t-lg p-4">
                        <!-- Título dinâmico -->
                        <h3 class="text-lg font-bold">
                            <span sec:authorize="hasRole('ADMIN')" th:if="${photographer.id != session.loggedPhotographer.id}">
                                Perfil de <span th:text="${photographer.username}"></span>
                            </span>
                            <span sec:authorize="!hasRole('ADMIN')" th:if="${photographer.id == session.loggedPhotographer.id}">
                                Meu perfil
                            </span>
                        </h3>
                    </div>
                    <div class="bg-white p-6">
                        <form th:action="@{/editProfilePhotographer}" th:object="${photographer}" method="POST">

                            <div class="mb-4 form-group">
                                <input type="hidden" id="id" th:field="*{id}" />
                            </div>

                            <!-- Campo Username -->
                            <div class="mb-4 form-group">
                                <label class="block text-gray-700 font-semibold mb-2" for="username">Username</label>
                                <input class="w-full p-2 border border-gray-300 rounded"
                                       type="text" id="username" th:field="*{username}" />
                            </div>

                            <!-- Nome Completo -->
                            <div class="mb-4 form-group">
                                <label class="block text-gray-700 font-semibold mb-2" for="firstName">Nome</label>
                                <input class="w-full p-2 border border-gray-300 rounded"
                                       type="text" id="firstName" th:field="*{firstName}" />
                                <p class="text-red-600 text-md" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                            </div>
                            <div class="mb-4 form-group">
                                <label class="block text-gray-700 font-semibold mb-2" for="lastName">Sobrenome</label>
                                <input class="w-full p-2 border border-gray-300 rounded"
                                       type="text" id="lastName" th:field="*{lastName}" />
                                <p class="text-red-600 text-md" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                            </div>

                            <!-- Email -->
                            <div class="mb-4 form-group">
                                <label class="block text-gray-700 font-semibold mb-2" for="email">Email</label>
                                <input class="w-full p-2 border border-gray-300 rounded"
                                       type="email" id="email" th:field="*{user.email}" />
                                <p class="text-red-600 text-md" th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}"></p>
                            </div>

                            <!-- Senha -->
                            <div class="mb-4 form-group">
                                <div sec:authorize="!hasRole('ADMIN') or #vars.loggedPhotographer.id == photographer.id">
                                    <label class="block text-gray-700 font-semibold mb-2" for="password">Nova Senha</label>
                                    <input type="password" class="w-full p-2 border border-gray-300 rounded"
                                           id="password" th:field="*{user.password}" />
                                    <p class="text-red-600 text-md" th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}"></p>
                                </div>
                                <div sec:authorize="hasRole('ADMIN') and #vars.loggedPhotographer.id != photographer.id">
                                    <input type="hidden" th:field="*{user.password}" />
                                </div>
                            </div>

                            <!-- Aceita seguidores -->
                            <div class="mb-4 flex items-center">
                                <label class="block text-gray-700 font-semibold mr-4" for="acceptsFollowers">Aceita Seguidores</label>
                                <input class="form-checkbox h-5 w-5 text-blue-600"
                                       type="checkbox" id="acceptsFollowers" th:field="*{acceptsFollowers}" />
                            </div>

                            <!-- Administrador (somente para admins) -->
                            <div sec:authorize="hasRole('ADMIN') and #vars.loggedPhotographer.id != photographer.id" class="mb-4 flex items-center">
                                <label class="block text-gray-700 font-semibold mr-4" for="isAdmin">Administrador</label>
                                <input class="form-checkbox h-5 w-5 text-blue-600"
                                       type="checkbox" id="isAdmin" th:field="*{user.role}" />
                            </div>
                            <div sec:authorize="!hasRole('ADMIN') or #vars.loggedPhotographer.id == photographer.id">
                                <input type="hidden" th:field="*{user.role}" />
                            </div>

                            <!-- Ativo (somente para admins) -->
                            <div sec:authorize="hasRole('ADMIN') and #vars.loggedPhotographer.id != photographer.id" class="mb-4 flex items-center">
                                <label class="block text-gray-700 font-semibold mr-4">Ativo</label>
                                <input class="form-checkbox h-5 w-5 text-blue-600"
                                       type="checkbox" th:field="*{user.enabled}" />
                            </div>
                            <div sec:authorize="!hasRole('ADMIN') or #vars.loggedPhotographer.id == photographer.id">
                                <input type="hidden" th:field="*{user.enabled}" />
                            </div>

                            <!-- Botão de submissão -->
                            <div class="mt-6">
                                <button type="submit" class="px-4 py-2 text-white font-semibold rounded bg-gray-700 hover:bg-gray-800">
                                    Atualizar Perfil
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="flex justify-center items-center bg-red-200 text-red-600 w-full p-4 rounded text-center border border-gray-100 rounded-lg mt-4" role="alert" th:if="${error}" th:text="${error}"></div>
                <div class="flex justify-center items-center bg-green-200 text-green-600 w-full p-4 rounded text-center border border-gray-100 rounded-lg  mt-4" role="alert" th:if="${success}" th:text="${success}"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>