<!DOCTYPE html>
<html lang="pt_BR"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>FlashG</title>
</head>
<body>
<div layout:fragment="content">
    <div class="overflow-auto" style="max-height:700px; max-width: 1500px;">
        <div class="flex justify-center items-center">
            <div class="w-3/4">
                <!-- Card para edição do perfil -->
                <div class="shadow-lg border border-gray-300 rounded-lg">
                    <div class="bg-gray-800 text-white rounded-t-lg p-4">
                        <h3 class="text-lg font-bold" th:text="${session.loggedPhotographer.isAdmin and session.loggedPhotographer.id != photographer.id } ? 'Perfil de ' + ${photographer.username} : 'Meu perfil'"></h3>
                    </div>
                    <div class="bg-white p-6">
                        <form th:action="@{/editProfilePhotographer}" th:object="${photographer}" method="POST">

                            <div class="mb-4">
                                <input type="hidden" id="id" th:field="*{id}" />
                            </div>
                            <!-- Campo Username (somente leitura) -->
                            <div class="mb-4">
                                <label class="block text-gray-700 font-semibold mb-2" for="username">Username</label>
                                <input class="w-full p-2 border border-gray-300 rounded bg-gray-100"
                                       type="text" id="username" th:field="*{username}" readonly />
                            </div>
                            
                            <!-- Nome Completo -->
                            <div class="mb-4">
                                <label class="block text-gray-700 font-semibold mb-2" for="firstName">Nome</label>
                                <input class="w-full p-2 border border-gray-300 rounded"
                                       type="text" id="firstName" th:field="*{firstName}" />
                                <p class="text-red-600 text-md" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 font-semibold mb-2" for="lastName">Sobrenome</label>
                                <input class="w-full p-2 border border-gray-300 rounded"
                                       type="text" id="lastName" th:field="*{lastName}" />
                                <p class="text-red-600 text-md" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                            </div>
                            
                            <!-- Email -->
                            <div class="mb-4">
                                <label class="block text-gray-700 font-semibold mb-2" for="email">Email</label>
                                <input class="w-full p-2 border border-gray-300 rounded"
                                       type="email" id="email" th:field="*{email}" />
                                <p class="text-red-600 text-md" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>

                            <!-- Senha -->

                            <div class="mb-4" th:if="${!session.loggedPhotographer.isAdmin or photographer.id == session.loggedPhotographer.id}">
                                <div class="mb-4">
                                    <label class="block text-gray-700 font-semibold mb-2" for="senha">Nova Senha</label>
                                    <input class="w-full p-2 border border-gray-300 rounded"
                                            id="password" th:field="*{password}" />
                                    <p class="text-red-600 text-md" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                                </div>
                            </div>
                            <div th:if="${not(!session.loggedPhotographer.isAdmin or photographer.id == session.loggedPhotographer.id)}">
                                <input type="hidden" id="password" th:field="*{password}"  />
                            </div>
                            
                            
                            <!-- Senha 
                            <div class="mb-4" th:if="${!session.loggedPhotographer.isAdmin or photographer.id == session.loggedPhotographer.id}">
                                <label class="block text-gray-700 font-semibold mb-2" for="password">Nova Senha</label>
                                <input class="w-full p-2 border border-gray-300 rounded"
                                        id="password" th:field="*{password}" placeholder="Deixe em branco para manter a senha atual" />
                                <small class="text-gray-500">A senha precisa ter ao menos 8 caracteres.</small>
                                <p class="text-red-600 text-md" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            </div>
                            <div th:else class="mb-4">
                                <input type="hidden" id="password" th:field="*{password}"  />
                            </div>
                            -->
                            
                            <!-- Aceita seguidores -->
                            <div class="mb-4 flex items-center">
                                <label class="block text-gray-700 font-semibold mr-4" for="acceptsFollowers">Aceita Seguidores</label>
                                <input class="form-checkbox h-5 w-5 text-blue-600"
                                       type="checkbox" id="acceptsFollowers" th:field="*{acceptsFollowers}" />
                            </div>
                            
                            <!-- Administrador (somente para admins) -->
                            <div th:if="${session.loggedPhotographer.isAdmin and photographer.id != session.loggedPhotographer.id}" class="mb-4 flex items-center">
                                <label class="block text-gray-700 font-semibold mr-4" for="isAdmin">Administrador</label>
                                <input class="form-checkbox h-5 w-5 text-blue-600"
                                       type="checkbox" id="isAdmin" th:field="*{Admin}" />
                            </div>
                            <div th:if="${not(session.loggedPhotographer.isAdmin and photographer.id != session.loggedPhotographer.id)}">
                                <input type="hidden" id="Admin" th:field="*{Admin}"  />
                            </div>
                            
                            <!-- Bloqueado (somente para admins) -->
                            <div th:if="${session.loggedPhotographer.isAdmin and photographer.id != session.loggedPhotographer.id}" class="mb-4 flex items-center">
                                <label class="block text-gray-700 font-semibold mr-4" for="isBlocked">Bloqueado</label>
                                <input class="form-checkbox h-5 w-5 text-blue-600"  
                                       type="checkbox" id="isBlocked" th:field="*{Blocked}" />
                            </div>
                            <div th:if="${not(session.loggedPhotographer.isAdmin and photographer.id != session.loggedPhotographer.id)}">
                                <input type="hidden" id="isBlocked" th:field="*{Blocked}"  />
                            </div>
                            
                            <!-- Botão de submissão -->
                            <div class="mt-6">
                                <button type="submit" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded hover:bg-blue-700">
                                    Atualizar Perfil
                                </button>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
