<!DOCTYPE html>
<html lang="pt_BR"
xmlns:th="http://www.thymeleaf.org"  xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout" 
layout:decorate="~{layout/layout}">
<head>
    <title>FlashG</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="overflow-auto" style="max-height:700px; max-width: 1500px;">
            <div class="d-flex justify-content-center align-items-center">
                <div class="w-75">
                    <div class="card mb-3 shadow-sm border-primary">
                        <div class="card-header bg-primary text-white">
                            <h3 class="m-0">Encontrar Fotógrafos</h3>
                        </div>
                        <div class="card-body text-primary">
                            <form th:action="@{/findPhotographers}" method="GET">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title mb-0">Pesquisar</h5>
                                    <input class="form-control ms-3 me-3" type="text" th:value="${username}" id="username" name="username" placeholder="Digite o @">
                                    <button class="btn btn-outline-success btn-sm" type="submit">Pesquisar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="alert alert-danger fw-bold" role="alert" th:if="${error}" th:text="${error}"></div>
                    <p class="mt-5 text-muted" th:if="${resultados}" th:text="${resultados}"></p>
                    <h3 class="mb-5 text-info" th:if="${photographers}" th:text="${photographers.size() + ' Fotógrafos'}"></h3>
                    
                    <table class="table table-hover table-borderless mt-4  table-success " th:if="${photographers}">
                        <thead class="">
                            <tr>
                                <th>Username</th>
                                <th>Nome</th>
                                <th>Acessar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="photographer : ${photographers}">
                                <td class="fw-bold fst-italic"   th:text="${photographer.username}"></td>
                                <td class="fw-bold"  th:text="${photographer.firstName + ' ' + photographer.lastName}"></td>
                                <td>
                                    <a th:href="@{/showProfile/{id}(id=${photographer.id})}" class="btn btn-outline-success btn-sm">Acessar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>