<!DOCTYPE html>
<html lang="pt_BR"
xmlns:th="http://www.thymeleaf.org"  xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout" 
layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seus Seguimores</title>
    <!-- Importando o CoreUI -->
</head>
    <body>
    <div layout:fragment="content">
        <div class="overflow-auto" style="max-height:700px; max-width: 1500px;">
            <!--<div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>-->
            <div class="d-flex justify-content-center align-items-center">
                <div class="w-75">
                    <div class="alert alert-danger fw-bold" role="alert" th:if="${error}" th:text="${error}"></div>
                    <div class="alert alert-warning alert-dismissible fade show shadow-sm" role="alert" th:if="!${error}">
                        Perfis que <strong th:text="${session.loggedPhotographer.username}"></strong> segue:
                    </div>
                    <table class="table table-hover table-borderless table-success mt-4" th:if="${seguidos}">
                        <thead >
                            <tr class = "">
                                <th>Username</th>
                                <th>Nome</th>
                                <th>Acessar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="photographer : ${seguidos}">
                                <td class="fw-bold fst-italic " th:text="${photographer.username}"></td>
                                <td class="fw-bold"  th:text="${photographer.firstName + ' ' + photographer.lastName}"></td>
                                <td>
                                    <a th:href="@{/facade/showProfile/{id}(id=${photographer.id})}" class="btn btn-outline-success btn-sm">Acessar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>