<!DOCTYPE html>
<html lang="pt_BR"
xmlns:th="http://www.thymeleaf.org"  xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout" 
layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Importando o CoreUI -->
</head>
    <body>
        <div layout:fragment="content">
            <div class="container ">
                <div class="overflow-auto " style="max-height:700px; max-width: 1500px;">
                    <p class = "mt-5" th:if="${message != null and message != '' }" th:text="${message}"></p>
                </div>
            </div>
        </div>
    </body>
</html>