<!DOCTYPE html>
<html lang="pt_BR"
      xmlns:th="http://www.thymeleaf.org"  xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuida Pai</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div layout:fragment="content">

    <div class="w-full px-4">
        <div class="mb-6 text-center">
            <h1 class="text-center text-2xl font-semibold mb-4 sm:mb-0">Minhas Fotos</h1>
            <p class="text-center text-lg text-gray-600" th:text="'Bem-vindo, ' + ${photographer.getFirstName()}"></p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 px-4 shadow-md">
            <div th:each="photo, iterStat : ${photos}">
                <div class="w-full h-0 pb-[100%] relative overflow-hidden rounded-lg shadow-md">
                    <img class="absolute inset-0 object-cover w-full h-full"
                         th:src="${photo.imageUrl}"
                         alt="gallery-photo" />
                </div>
            </div>
        </div>
    </div>

<!--    <div class="w-full flex  flex-col sm:flex-row justify-between items-center mb-6 mt-4 px-4">-->
<!--                  <h1 class="text-center text-2xl font-semibold mb-4 sm:mb-0">Minhas Fotos</h1>-->
<!--                  <p class="text-center text-lg text-gray-600" th:text="'Bem-vindo, ' + ${photographer.getFirstName()}"></p>-->

<!--                  &lt;!&ndash; Galeria de Fotos &ndash;&gt;-->
<!--        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 px-4 shadow-md">-->
<!--            <div th:each="photo ,iterStat : ${photos}">-->
<!--                <img class="object-cover object-center w-full h-40 max-w-full rounded-lg"-->
<!--                     th:src="${photo.imageUrl}"-->
<!--                     alt="gallery-photo" />-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
</div>



</body>
</html>