<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>FlashG</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${photographer}" class="overflow-auto max-w-full max-h-screen">

        <div class="bg-gray-100 h-auto px-12 lg:px-48 py-8">
            <div class="flex md:flex-row-reverse flex-wrap">
                <!-- Informações do usuário -->
                <div class="w-full md:w-3/4 p-4">
                    <div class="text-left pl-4 pt-3 flex justify-between items-center">
                        <div>
                            <h1 class="text-2xl font-bold text-gray-800"
                                th:text="${photographer.firstName} + ' ' + ${photographer.lastName}"></h1>
                            <p class="text-lg text-gray-600" th:text="'@' + ${photographer.username}"></p>
                        </div>
                        <div class="flex gap-4">
                            <!-- Opção de seguir -->
                            <div class="flex items-center">
                                <form th:action="@{/followAction}" method="POST" th:if="${photographer.acceptsFollowers}">
                                    <input type="hidden" name="id" th:value="${photographer.id}" />
                                    <button class="bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-800"
                                            type="submit" th:text="${status}">
                                    </button>
                                </form>
                            </div>
                            <!-- Ícone de configurações -->
                            <a role="button" th:if="${session.loggedPhotographer.isAdmin()}" th:href="@{/showEditProfilePhotographer/{id}(id=${photographer.id})}"
                                    class="p-2 border-transparent text-gray-700 rounded-full hover:text-blue-600 focus:outline-none"
                                    aria-label="Configurações">
                                <svg
                                        class="h-6 w-6"
                                        fill="none"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        stroke="currentColor"
                                        viewBox="0 0 24 24">
                                    <path
                                            d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                    <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="text-left pl-4 pt-3">
                        <span class="text-base font-semibold text-gray-700 mr-4">
                          <b th:if="${photos}" th:text="${photos.size()}"></b> posts
                        </span>
                                        <span class="text-base font-semibold text-gray-700 mr-4">
                          <b th:text="${photographer.followers.size()}"></b> seguidores
                        </span>
                                        <span class="text-base font-semibold text-gray-700">
                          <b th:text="${photographer.following.size()}"></b> seguindo
                        </span>
                    </div>

                    <div class="text-left pl-4 pt-3">
                        <p class="text-base font-medium text-blue-700"></p>
                        <p class="text-base font-medium text-gray-700">
                            Bio
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod.</p>
                    </div>
                </div>

                <!-- Avatar -->
                <div class="w-full h-full md:w-1/4 text-center">
                    <div class="relative mt-8">
                        <img class="h-40 w-40 rounded-full object-cover mx-auto"
                             alt="Avatar do fotógrafo"
                             th:src="${photographer.profilePictureUrl}"/>
                    </div>
                </div>
            </div>
        </div>


        <div th:if="${photos}" class="overflow-auto mx-auto p-4">
            <div class="w-full px-4">
                <div class="mb-6 text-center">
                    <h2 class="text-center text-2xl font-semibold mb-4 sm:mb-0">Galeria de Fotos</h2>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 px-4 shadow-md">
                    <div th:each="photo, iterStat : ${photos}">
                        <div class="w-full h-0 pb-[100%] relative cursor-pointer overflow-hidden rounded-lg shadow-md"
                             th:data-dialog-target="'image-dialog-' + ${iterStat.index}">
                            <img class="absolute inset-0 object-cover w-full h-full" th:src="${photo.imageUrl}"
                                 th:alt="${photo.title}" />
                        </div>
                    </div>
                </div>
                <!-- Dialog foto -->
                <div th:each="photo, iterStat : ${photos}">
                    <div th:id="'dialog-' + ${iterStat.index}" th:data-dialog-backdrop="'image-dialog-' + ${iterStat.index}"
                         data-dialog-backdrop-close="true"
                         class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
                        <div class="relative m-4 w-4/5 h-[90vh] flex rounded-lg bg-white shadow-sm" role="dialog"
                             th:data-dialog="'image-dialog-' + ${iterStat.index}">

                            <!-- Main Content -->
                            <div class="flex flex-col justify-between flex-1 p-4 overflow-y-scroll">
                                <!-- Header -->
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <img th:src="${photographer.profilePictureUrl}"
                                             alt="foto-perfil"
                                             class="relative inline-block h-9 w-9 rounded-full object-cover object-center">
                                        <div class="pl-1 -mt-px flex flex-col">
                                            <p th:text="${photographer.firstName} + ' ' + ${photographer.lastName}"
                                               class="text-sm text-slate-800 font-medium"></p>
                                            <p th:text="'@'+ ${photographer.username}"
                                               class="text-xs font-normal text-slate-500"></p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Image -->
                                <div class="relative border-b border-t border-blue-gray-100 my-4">
                                    <img th:alt="${photo.title}" class="object-scale-down h-[30rem] w-full object-cover object-center"
                                         th:src="${photo.imageUrl}" />
                                </div>

                                <!-- Title -->
                                <h1 class="text-xl font-semibold text-slate-800 text-center" th:text="${photo.title}"></h1>

                                <!-- Description -->
                                <p class="text-sm text-slate-600 text-center mt-2" th:text="${photo.description}"></p>

                                <!-- Footer -->
                                <div class="flex shrink-0 flex-wrap items-center justify-between mt-4 text-blue-gray-500">
                                    <div class="flex items-center gap-16">
                                        <div>
                                            <p class="text-slate-500 text-sm">Curtidas</p>
                                            <p class="text-slate-800 font-medium">x</p>
                                        </div>
                                        <div>
                                            <p class="text-slate-500 text-sm">Comentários</p>
                                            <p th:id="'sizeComment-' + ${iterStat.index}"  class="text-slate-800 font-medium" th:text="${photo.comments.size()}"></p>
                                        </div>
                                    </div>
                                    <button class="flex items-center rounded-md border border-slate-300 py-2 px-4 text-sm shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                            <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"/>
                                        </svg>
                                        <a>Curtir</a>
                                    </button>
                                </div>
                            </div>

                            <!-- Comments Section -->
                            <div class="w-[30%] p-4 border-l border-slate-200 flex flex-col justify-between">
                                <div th:id="'listComment-' + ${iterStat.index}" class="overflow-y-auto flex-grow h-0">
                                    <h2 class="text-lg font-medium text-slate-800 mb-4">Comentários</h2>
                                    <!-- Comentários fictícios -->

                                    <div th:each="comment : ${photo.comments}">
                                        <div class="flex items-start gap-3 mb-4">
                                            <img th:src="${comment.photographer.profilePictureUrl}" alt="perfil" class="h-8 w-8 rounded-full object-cover">
                                            <div>
                                                <div class="flex flex-row justify-between gap-6">
                                                    <p th:text="${comment.photographer.username}" class="text-sm font-medium text-slate-800"></p>
                                                    <p th:text="${comment.getDate()}" class="text-sm font-medium text-slate-800"></p>
                                                </div>
                                                <p th:text="${comment.commentText}" class="text-sm text-slate-600"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form th:id="'form-' + ${iterStat.index}" class="mt-4" action="">
                  <textarea
                          th:id="'textArea-' + ${iterStat.index}"
                          placeholder="Escreva seu comentário..."
                          class="w-full p-2 rounded-md border text-sm"
                          name="commentText"
                          th:value="${commentText}"></textarea>
                                    <div>
                                        <input type="hidden" id="createdAt" name="createdAt" />
                                        <input type="hidden"  name="photo" id="photo" th:value="${photo.id}" />
                                        <input type="hidden"  name="photographer" id="photographer" th:value="${session.loggedPhotographer.id}" />
                                    </div>
                                    <button type="submit" class="mt-2 w-full py-2 bg-gray-600 text-white rounded-md hover:bg-gray-800">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script th:src="@{/js/commentProcess.js}"></script>
