@import url('https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.responsive-container {
    max-height: 600px;
    max-width: 1500px;
}

@media (min-width: 1920px) {
    .responsive-container {
        max-height: 800px;
        max-width: 1800px;
    }
}
