<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}">
  <title>FlashG | ERROR</title>
</head>
<body class="bg-gray-100 text-white flex items-center justify-center min-h-screen">

<div class="text-center bg-gray-600 p-10 rounded-lg shadow-lg w-96">
  <h1 class="text-5xl font-bold pb-10 mb-1">
    FlashG
  </h1>
  <h1 class="text-6xl font-bold text-red-500 mb-4">
    ERROR
  </h1>
  <p class="text-xl mb-6">
    Algo deu errado
  </p>

  <div class="text-sm">
    <p><strong>Status:</strong> <span th:text="${status}">[Status]</span></p>
    <p><strong>Erro:</strong> <span th:text="${error}">[Erro]</span></p>
    <p><strong>Mensagem:</strong> <span th:text="${message}">[Mensagem]</span></p>
  </div>

  <div class="mt-8">
    <a th:href="@{/auth/signin}" class="text-white bg-gray-500 hover:bg-gray-800 px-6 py-3 rounded-lg text-lg">
      Voltar para a página de login
    </a>
  </div>
</div>

</body>
</html>
