<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title>FlashG | Home</title>
</head>
<body>
    <!-- Conteúdo específico da página -->
    <div layout:fragment="content">
        <div class="container">
            <div class="overflow-auto" style="max-height: 700px; max-width: 1500px;">
                <h1>Bem-vindo à Página Inicial</h1>
                <p>Este é o conteúdo específico da página.</p>
            </div>
        </div>
    </div>
</body>
</html>
