<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="https://ultraq.net.nz/web/thymeleaf/layout" 
xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index.html</title>
    <!-- Importando o CoreUI -->
</head>
<body>
    <div layout:fragment="content">
        <div class="container ">
            <div class="overflow-auto" style="max-height:700px; max-width: 1500px;">

            </div>
        </div>
    </div>
</body>
</html>
